.click-number {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  animation: moveUp 1s ease-in-out forwards;
  pointer-events: none;
  font-weight: 800;
}

.active-nav {
  background-color: rgb(246 137 31 / 0.25);
}

@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}
